@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    box-sizing: border-box;

}

body{
    font-family: 'Montserrat', sans-serif;
    background: black;

  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px ;
    
}
.login{
    color: white;
}
.Email{
    color:white;
}
.login {
    width: 380px;
    padding: 40px 30px 50px 30px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}